h2 {
  color: #d97706;
  font-size: 36px;
}

* {
  margin: 0;
}

.success {
  color: green;
  background-color: lightgray;
  padding: 10px;
  font-size: 26px;
  margin-bottom: 10px;
  border: solid 5px green;
}

.error {
  color: red;
  background-color: lightgray;
  padding: 10px;
  font-size: 26px;
  margin-bottom: 10px;
  border: solid 5px red;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 2px solid blue;
  background-color: #fef3c7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 2rem;
}
